@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Course: @Model["course"].GetCourseName()</h2>
<h4>Course Number: @Model["course"].GetCourseNumber()</h4>

@if (@Model["courseStudents"].Count !=0)
{
  <hr>
  <h4>Here are all the students in this course:</h4>
  <ul>
    @foreach (var student in @Model["courseStudents"])
    {
      <li>@student.GetFirstName() @student.GetLastName()</li>
    }
  </ul>
}

@if (@Model["allStudents"].Count !=0)
{
  <hr>
  <h4>Add a student to this course:</h4>
  <form action='/course/add_student' method='post'>
    <input id='course-id' name='course-id' type='hidden' value='@Model["course"].GetId()'>
    <label for='student-id'>Select a student</label>
    <select id='student-id' name='student-id' type='text'>
      @foreach (var student in @Model["allStudents"])
      {
        <option value='@student.GetId()'>@student.GetFirstName() @student.GetLastName()</option>
      }
    </select>
    <br>
    <button type='submit' class="btn btn-info">Add</button>
  </form>
}
<hr>
<p><a href="/">Return to Main Page</a></p>
